#ifndef _SECRETS_H
#define _SECRETS_H

#define SECRETS_WIFI_SSID ""
#define SECRETS_WIFI_PASSWORD ""

#define SECRETS_OTA_SERVER_HTTPS_URL ""
#define SECRETS_OTA_SERVER_FINGERPRINT ""
#define SECRETS_OTA_SERVER_HTTP_URL ""

#define SECRETS_DATA_API_URL ""

#endif // _SECRETS_H