#ifndef _SECRETS_H
#define _SECRETS_H

#define EASYESP_WIFI_SSID ""
#define EASYESP_WIFI_PASSWORD ""

#define EASYESP_OTA_SERVER_HTTPS_URL ""
#define EASYESP_OTA_SERVER_HTTP_URL ""
#define EASYESP_OTA_CURRENT_VERSION ""
#define EASYESP_OTA_SERVER_FINGERPRINT ""

#define DATA_API_URL ""

#endif // _SECRETS_H